<!DOCTYPE html>
<html>
  <head>
    <title>Учет</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="container" >
      <table class="table table-striped table-bordered table-hover table-condensed">
      <thead bgcolor="LightSlateGray">
  <tr>
        <th class="span2" name="menu_time">Время</th>
        <th class="span5" name="menu_klient">Клиент</th>
        <th class="span5" name="menu_agent">К кому</th>
        <th class="span3" name="proc">Процедура</th>
    </tr>
</thead>

<tbody>
     {% for each in infa %}
    <tr>
        <td>{{ each.addtime_date|date:"G:i" }}</td>
        <td>{{each.klient}}</td>
        <td>{{each.agent}}</td>
        <td>{{each.proc}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<p align="right">
  <a class="btn btn-mini btn-primary" type="button" href="/list1">         
          Добавить          
  </a>
</p>


</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>